.container {
  height: 30dvh;
  width: 80dvw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  height: 95%;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.formGroup {
  display: flex;
  flex-direction: column;
}

.button {
  width: 45%;
}
