.slider_container {
  width: 95%;
  height: 35dvh;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.off_container {
  width: 95%;
  height: 20dvh;
  border: 1px solid rgb(76, 73, 73);
  margin: 2rem;
}

.off_title {
  color: rgb(76, 73, 73);
  text-align: center;
}

.off_content {
  width: 100%;
  margin: 2.5rem 0;
  text-align: center;
}
